section {
}

#how-it-works{
  color: #ffffff;
  background-color: #a092a1;

  .button-row {
    text-align: center;
    margin-bottom: 75px;
  }

  .feature {
    margin: 100px 0px 40px 0px;
    text-align: center;
    font-size: 1.7em;
  }
  .feature-icon {
    font-size: 4em;
    padding-bottom: .5em;
  }
}